*, *:before, *:after {
	box-sizing: border-box;
}
.footerContainer{
	background-color: #1D1F22;
	height: 300px;
	margin-top: -20px;
}
.footer{
	
	display: flex;
	justify-content: space-around;
	
}

.footerNavBar{
	margin-top: 30px;
	display: grid;
}
.footerNavBar .fa{
	font-size: 40px;
}
.googleMap{
	width: 400px;
}
.google-map{
	width: 400px;
	height: 200px;
}
.logoFooter{
	width: 50px;
	border-radius: 100%;
}
.cancellation{
	font-size: 13px;
	margin-left: 10px;
	font-style: italic;
}