body{
	background-color: #ccc;
}
.wrapper{
	width: 1300px;
    margin: auto;
    margin-top: -8px;
    background-color: #DAC8B8;
}
.headerContainer{
	width: 100%;

}
.header{
	width: 100%;
	display: flex;
	font-size: 30px;
	justify-content: space-around;
}
.navBar{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.selected{
	color: red;
}
a{
	text-decoration: none;
	color: black;
}
.logo{
	width: 150px;
    height: 150px;
    border-radius: 40%;
    margin: 10px 0 0 0;
}