*, *:before, *:after {
	box-sizing: border-box;
}
body{
	color: white;
}
.wrapper{
	width: 1420px;
	background-image: url('../images/background.png');
	background-attachment: fixed;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
}
.home{
	display: flex;
	
	margin: auto;
	justify-content: space-around;
	padding-top: 30px;
	background: rgba(0, 0, 0, 0.4);
}
.about{
	width: 500px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 10px;
	background-size: cover;
	background: rgba(0, 0, 0, 0.5);
}
.aboutText{
	color: white;
	text-align: center;
}