*, *:before, *:after {
	box-sizing: border-box;
}

.container{
	background: rgba(0, 0, 0, 0.4);
	padding-bottom: 20px;
}
.serviceContainer{
	width: 1000px;
    margin: auto;
    
}
.imgService{
	width: 100%;
}
.title{
	width: 970px;
	display: flex;
	justify-content: space-between;
}
.price{
	
}
.service{
	font-size: 25px;
}
.descriptionContainer{

}
.description{
	margin-top: 0;
	font-size: 20px;
}